In [62]:
# Q1
import pandas as pd
import numpy as np

'Pandas version ' + pd.__version__

'Pandas version 2.2.2'

In [35]:
# Q2
df = pd.read_csv('laptops.csv')
f'Record counts {len(ds)}'

'Record counts 2160'

In [26]:
# Q3
f'Laptop brands {df['Brand'].nunique()}'

'Laptop brands 27'

In [36]:
# Q4
f'{(df.isnull().sum() > 0).sum()} columns in the dataset have missing values'

'3 columns in the dataset have missing values'

In [37]:
# Q5
f"{df[df.Brand == 'Dell']['Final Price'].max()} is the maximum final price of Dell notebooks"

'3936.0 is the maximum final price of Dell notebooks'

In [54]:
# Q6
median = df['Screen'].median()
mode = df['Screen'].mode()[0]
column = df['Screen'].fillna(mode)
f"Has median changed? {column.median() != median}"

'Has median changed? False'

In [72]:
# Q7
innjoo = df[df.Brand == 'Innjoo']
innjoo = innjoo[['RAM', 'Storage', 'Screen']]
X = innjoo.values
XTX = X.T.dot(X)
inv = np.linalg.inv(XTX)
y = [1100, 1300, 800, 900, 1000, 1100]
w = inv.dot(X.T).dot(y)
"{:.2f}".format(round(sum(w), 2))

'91.30'